@charset "utf-8";

/******************************************************************************* Begin Content */

#main{
    background: #ffffff;
    border: 1px solid #d2d2d2;
    border-top: none;
    border-bottom: none;
    overflow: auto;
    z-index: 1000;
}

/************************************************************** Begin Headers */

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6{
    color: #212121;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0 0 24px 0;
    text-transform: uppercase;
}

#main article h1,
#main article h2,
#main article h3,
#main article h4,
#main article h5,
#main article h6{
    padding: 24px 0 24px 0;
}

#main article h1 .icon,
#main article h2 .icon,
#main article h3 .icon,
#main article h4 .icon,
#main article h5 .icon,
#main article h6 .icon{
    display: block;
    float: left;
    font-family: 'Icons';
    padding: 0 15px 0 0;
}

#main h1{
    font-size: 48px;
    line-height: 48px;
}

#main h2{
    font-size: 36px;
    line-height: 48px;
}

#main h3{
    font-size: 24px;
    line-height: 24px;
}

#main h4{
    font-size: 21px;
    line-height: 24px;
}

#main h5{
    font-size: 18px;
    line-height: 24px;
}

#main h6{
    font-size: 16px;
    line-height: 24px;
}

#main h1 .icon{
    font-size: 48px;
    line-height: 48px;
    margin-top: -6px;
}

#main h2 .icon{
    font-size: 36px;
    line-height: 48px;
    margin-top: -4px;
}

#main h3 .icon{
    font-size: 24px;
    line-height: 24px;
    margin-top: -3px;
}

#main h4 .icon{
    font-size: 21px;
    line-height: 24px;
    margin-top: -3px;
}

#main h5 .icon{
    font-size: 18px;
    line-height: 24px;
    margin-top: -3px;
}

#main h6 .icon{
    font-size: 16px;
    line-height: 24px;
    margin-top: -2px;
}

/**************************************************************** End Headers */

#main .content p{
    color: #7f7f7f;
    margin: 0 0 24px 0;
    text-align: left;
}

#main .content p.social{
    margin: 0 0 12px 0;
}

#main .content p .social-link{
    float: left;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 0 10px 12px 0;
    width: 36px;
}

#main .content p .social-link:nth-last-child(2){
    margin: 0 0 12px 0;
}

#main .content .content-image{
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    display: block;
    height: 238px;
    margin: 0 0 24px 0;
    width: 100%;
}

#main .content .content-image.left{
    float: left;
    height: 240px;
    margin: 4px 20px 18px 0;
    width: 40%;
}

#main .content .content-image.right{
    float: right;
    height: 240px;
    margin: 4px 0 18px 20px;
    width: 40%;
}

#main .content .content-gallery{
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    display: block;
    height: 358px;
    margin: 0 0 24px 0;
    width: 100%;
}

#main .content .content-gallery.big{
    height: 478px;
}

#main .content .content-scroller{
    display: block;
    margin: 0 0 24px 0;
    width: 100%;
}

#main .content a{
    border-bottom: 1px dotted #212121;
    color: #212121;
    text-decoration: none;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}

#main .content a:hover{
    border-bottom: 1px dotted #af3425;
    color: #af3425;
}

#main .content .container{
    border: 1px solid #e2e2e2;
    margin: 0 0 24px 0;
    padding: 23px 0 0 0;
}

#main .content .container.style2{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAF0lEQVQIW2P89OnTfwYgYAQxPnz4wAAAXMQKfViJ4n8AAAAASUVORK5CYII=');
    border: none;
    margin: 0 0 24px 0;
    padding: 24px 0 1px 0;
}

/***************************************************************** Begin Grid */

#main .content .grid-row{
    width: 100%;    
}

#main .content .grid-row [class*="grid"]{
    float: left;
    margin: 0 0 0 20px;
}

#main .content .grid-row [class*="grid"]:first-child{
    margin-left: 0;
}

#main .content .grid-row [class*="grid"].style2{
    border: 1px solid #e2e2e2;
    margin-bottom: 24px;
    padding: 23px 0 0 0;
}

#main .content .grid-row [class*="grid"].style3{         
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAF0lEQVQIW2P89OnTfwYgYAQxPnz4wAAAXMQKfViJ4n8AAAAASUVORK5CYII=');
    margin-bottom: 24px;
    padding: 24px 0 0 0;
    border-bottom: 0px solid #e2e2e2;
}

#main .content p.dropcaps:first-letter{ 
    color: #212121; 
    float: left; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 64px; 
    line-height: 64px; 
    padding: 2px 10px 0 0; 
}

/**************************************************************** Begin Lists */

#main .content ul.single-list,  
#main .content ol.single-list{
    color: #7f7f7f;
    margin: 0 0 24px 0;
    padding: 0 0 0 24px;
}

#main .content .lists ul,  
#main .content .lists ol{
    color: #7f7f7f;
    float: left;
    margin: 0 20px 24px 0;
    padding: 0 0 0 35px;
    width: 110px;
}

#main .content ol{
    list-style-type: decimal;
}

#main .content ul.list-arrows li{
    background:  url('../images/list-icons/arrows.png') no-repeat top left;
    list-style: none;
    margin: 0 0 0 -24px;
    padding: 0 0 0 24px;
}

#main .content ul.list-checks li{
    background:  url('../images/list-icons/checks.png') no-repeat top left;
    list-style: none;
    margin: 0 0 0 -24px;
    padding: 0 0 0 24px;
}

#main .content ul.list-circles li{
    background:  url('../images/list-icons/circles.png') no-repeat top left;
    list-style: none;
    margin: 0 0 0 -24px;
    padding: 0 0 0 24px;
}

#main .content ul.list-diamonds li{
    background:  url('../images/list-icons/diamonds.png') no-repeat top left;
    list-style: none;
    margin: 0 0 0 -24px;
    padding: 0 0 0 24px;
}

/****************************************************************** End Lists */

#main .content blockquote{
    background: transparent url('../images/blockquote.png') no-repeat top left;
    color: #7f7f7f;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 24px 0;
    padding: 0 0 0 52px;
}

/***************************************************************** Begin Form */

#main .content .input-container{
    display: block;
    float: left;
    margin: 0 20px 12px 0;
    width: 145px;
}

#main .content .input-container.last{
    margin: 0 0 12px 0;
}

#main .content label{
    color: #7f7f7f;
    display: block;
    width: 60%;
}

#main .content label.type2{
    float: left;
    line-height: 24px;
    padding: 0 0 0 12px;
    width: auto;
}

#main .content label .required{
    color: #c0c0c0;
    font: italic 12px/100% Arial, Helvetica, sans-serif;
}

#main .content input[type=checkbox],
#main .content input[type=radio]{
    -webkit-appearance: none;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 8px;
    position: relative;
}

#main .content input[type=checkbox]:hover{
    border: 1px solid #af3425;
    color: #af3425;
}

#main .content input[type=checkbox]:checked:after{
    color: #7f7f7f;
    content: '\2714';
    font-size: 14px;
    left: 3px;
    position: absolute;
    top: 0px;
}

#main .content input[type=radio]{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

#main .content input[type=radio]:hover{
    border: 1px solid #af3425;
}
 
#main .content input[type=radio]:checked:after{
    background: #7f7f7f;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    content: ' ';
    font-size: 32px;
    height: 10px;
    left: 3px;
    position: absolute;
    text-shadow: 0px;
    top: 3px;
    width: 10px;
}

#main .content input[type=checkbox]:disabled,
#main .content input[type=radio]:disabled{
    border: 1px solid #e2e2e2;
}

#main .content input[type=text],
#main .content input[type=password],
#main .content select,
#main .content textarea{
    background: #ffffff;
    border: 1px solid #e2e2e2;
    color: #7f7f7f;
    display: block;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    margin: 0 0 12px 0;
    padding: 5px 10px;
    text-decoration: none;
    width: 45%;
    -webkit-transition: border 300ms linear;
    -moz-transition: border 300ms linear;
    -ms-transition: border 300ms linear;
    -o-transition: border, 300ms linear;
    transition: border 300ms linear;
}

#main .content input[type=text]:hover,
#main .content input[type=text]:focus,
#main .content input[type=password]:hover,
#main .content input[type=password]:focus,
#main .content select:hover,
#main .content select:focus,
#main .content textarea:hover,
#main .content textarea:focus{
    border: 1px solid #af3425;
    -webkit-transition: border 300ms linear;
    -moz-transition: border 300ms linear;
    -ms-transition: border 300ms linear;
    -o-transition: border, 300ms linear;
    transition: border 300ms linear;
}

#main .content input[type=text]:disabled,
#main .content input[type=password]:disabled,
#main .content select:disabled,
#main .content textarea:disabled{
    border: 1px solid #e2e2e2;
    color: #606060;
}

#main .content textarea{
    margin: 0 0 12px 0;
    padding: 11px 10px;
    resize: vertical;
    width: 95%;
}

#main .content input[type=button],
#main .content input[type=reset],
#main .content input[type=submit],
#main .content a.button{
    background: #1c1c1c;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #f0f0f0;
    cursor: pointer;
    display: block;
    float: left;
    font: normal 16px/36px 'PT Sans Narrow', Helvetica, Arial, SansSerif;
    margin: 0 20px 24px 0;
    outline: none;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    width: 145px;
    -webkit-transition: background 300ms linear;
    -moz-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    -o-transition: background 300ms linear;
    transition: background 300ms linear;
}

#main .content input[type=button]:hover,
#main .content input[type=reset]:hover,
#main .content input[type=submit]:hover,
#main .content a.button:hover{
    background: #af3425;
}

#main .content input[type=button]:disabled,
#main .content input[type=reset]:disabled,
#main .content input[type=submit]:disabled,
#main .content a.button:disabled{
    background: #1c1c1c;
    color: #b0b0b0;
}

#main .content a.button{
    float: none;
}

#main .content .valid{
    background: url('../images/icons/valid.png') no-repeat top left;
    color: #adcb5f;
    display: none;
    font: bold 14px/24px Helvetica, Arial, sans-serif;
    margin: 0 0 24px 15px;
    padding: 0 0 0 28px;
}

#main .content .invalid{
    background: url('../images/icons/invalid.png') no-repeat top left;
    color:  #c54542;
    display: none;
    font: bold 14px/24px Helvetica, Arial, sans-serif;
    margin: 0 0 24px 15px;
    padding: 0 0 0 28px;
}

/******************************************************************* End Form */

#main .content hr{
    border: 1px solid #e2e2e2;
    border-left: none;
    border-right: none;
    height: 1px;
    margin: 0 0 21px 0;
}

#main .content hr.style2{
    background: #212121;
    border: none;
    height: 1px;
    margin: 0 0 23px 0;
}

#main .content hr.style3{
    border: 1px solid #212121;
    border-left: none;
    border-right: none;
    height: 1px;
    margin: 0 0 21px 0;
}

#main .content hr.style4{
    background: #7f7f7f;
    border: none;
    height: 1px;
    margin: 0 0 23px 0;
}

/*************************************************************** Begin Tables */

#main .content table a,
#main .content table a:link,
#main .content table a:visited{
    border: none;
}							
			
#main .content table{
    border-collapse: collapse;
    border-top: 1px solid #212121;
    border-right: 1px solid #212121;
    margin: 0 0 24px 0;
    width: 100%;
}	
				
#main .content table th{
    background: #212121;
    border: 1px solid #212121;
    border-right: none;
    color: #e2e2e2;
    font: bold 16px/24px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    padding: 11px 12px;
    text-align: left;
}	
		
#main .content table td{
    background: #ffffff;
    border-bottom: 1px solid #212121;
    border-left: 1px solid #212121;
    color: #7f7f7f;
    font-weight: 300 !important;
    line-height: 24px;
    padding: 6px 12px 5px;
    text-align: left;
}			
		
#main .content table.zebra-horizontal tr.odd td{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAF0lEQVQIW2P89OnTfwYgYAQxPnz4wAAAXMQKfViJ4n8AAAAASUVORK5CYII=');
}
		
#main .content table.zebra-vertical td.odd{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAF0lEQVQIW2P89OnTfwYgYAQxPnz4wAAAXMQKfViJ4n8AAAAASUVORK5CYII=');
}

/***************************************************************** End Tables */

/***************************************************************** Begin Tabs */

#main .content .tabs{ 
    list-style: none;
}

#main .content .tabs li{ 
    float: left; 
    z-index: 30;
}

#main .content .tabs li:last-child:after{  
    clear: both;
    content: '';
}

#main .content .tabs ul li a{
    background: #212121;
    border: none;
    color: #e2e2e2; 
    display: block; 
    float: left;
    font: normal 16px/36px 'PT Sans Narrow', Helvetica, Arial, SansSerif;
    left: 0px;
    margin: 0 1px 0 0;
    position: relative; 
    text-align: center;
    text-decoration: none; 
    width: 65px;
    z-index: 0;
}

#main .content .tabs li a:hover{
    background: #e2e2e2;
    color: #212121 !important;
    -webkit-transition: background 300ms linear;
    -moz-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    -o-transition: background 300ms linear;
    transition: background 300ms linear;
}

#main .content .tabs li.ui-state-active a{
    background: #af3425;
    color: #ffffff !important;
    position: relative;
    z-index: 1000;
}

#main .content .tabs .tab-container{
    background: #ffffff;
    border: 1px solid #e2e2e2;
    clear: both;
    margin: 0 0 24px 0;
    overflow: hidden;
    padding: 22px 15px 0 15px;
    z-index: 3;
}

/******************************************************************* End Tabs */

/************************************************************ Begin Accordion */

#main .content .accordion{ 
    padding: 0 0 12px 0;
    position: relative;
}
 
#main .content .accordion .accordion-head{
    margin: 0 0 12px 0;
    z-index: 1;
}

#main .content .accordion .accordion-head a{
    background: #e2e2e2;
    border: none;
    color: #212121;
    display: block;
    font: normal 16px/24px 'PT Sans Narrow', Helvetica, Arial, SansSerif;
    padding: 8px 15px 8px 46px; 
    text-decoration: none;
}

#main .content .accordion .accordion-head a .sign,
#main .content .accordion .accordion-head a .sign-selected{
    background: none;
    color: #212121;
    font: normal 24px/24px 'Icons';
    left: 10px;
    padding: 0 0 0 2px;
    position: absolute;
    text-align: center;
    top: 7px;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}

#main .content .accordion .accordion-head a .sign-selected{
    display: none;
}

#main .content .accordion .accordion-head.ui-accordion-header-active a,
#main .content .accordion .accordion-head a:hover{
    background: #212121;
    color: #e2e2e2 !important;
    -webkit-transition: background 300ms linear, color 300ms linear;
    -moz-transition: background 300ms linear, color 300ms linear;
    -ms-transition: background 300ms linear, color 300ms linear;
    -o-transition: background 300ms linear, color 300ms linear;
    transition: background 300ms linear, color 300ms linear;
}

#main .content .accordion .accordion-head.ui-accordion-header-active a .sign,
#main .content .accordion .accordion-head.ui-accordion-header-active a .sign-selected,
#main .content .accordion .accordion-head a:hover .sign,
#main .content .accordion .accordion-head a:hover .sign-selected{
    color: #e2e2e2 !important;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}  

#main .content .accordion .accordion-head.ui-accordion-header-active a .sign{
    display: none;
}

#main .content .accordion .accordion-head.ui-accordion-header-active a .sign-selected{
    display: block;
}

#main .content .accordion .accordion-content{
    background: #ffffff;
    border: 1px solid #e2e2e2;
    padding: 22px 15px 0 15px;
    top: -15px;
    z-index: 0;
}

/************************************************************** End Accordion */

/*************************************************************** Begin Toggle */

#main .content .toggle-wrapper .toggle{
    background: #212121;
    border: none;
    color: #e2e2e2 !important;
    display: block;
    font: normal 16px/24px 'PT Sans Narrow', Helvetica, Arial, SansSerif;
    margin: 0 0 24px 0;
    padding: 8px 48px 8px 15px; 
    text-decoration: none;
    z-index: 1000;
}

#main .content .toggle-wrapper .toggle .sign{
    background: none;
    color: #e2e2e2;
    display: block;
    font: normal 24px/40px 'Icons';
    padding: 0 0 0 2px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 0;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}

#main .content .toggle-wrapper .toggle:hover .sign{
    color: #af3425;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}

#main .content .toggle-wrapper .toggle-content{
    background: #ffffff;
    border: 1px solid #e2e2e2;
    border-top: none; 
    display: none;
    padding: 23px 15px 0 15px;
    top: -25px;
}

/***************************************************************** End Toggle */

/******************************************************* Begin Pagination */

#main .content .pagination{
    margin: 0 0 12px 0;
}

#main .content .pagination a{
    background-color: #212121;
    border: none;
    color: #ffffff;
    font: 16px/36px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    display: block;
    float: left;
    height: 36px;
    margin: 0 10px 12px 0;
    text-align: center;
    text-decoration: none;
    width: 36px;
}

#main .content .pagination a.previous{
    background-image: url('../images/previous.png');
    background-position: center center;
    background-repeat: no-repeat;
}

#main .content .pagination a.next{
    background-image: url('../images/next.png');
    background-position: center center;
    background-repeat: no-repeat;
}

#main .content .pagination a:hover{
    background-color: #af3425;
    color: #f0f0f0;
    -webkit-transition: background-color 200ms ease-in;
    -moz-transition: background-color 200ms ease-in;
    -ms-transition: background-color 200ms ease-in;
    -o-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
}

/******************************************************* End Pagination */

/******************************************************* Begin Pricing Tables */

#main .content .pricing-table{
    margin: 0 0 24px 0;
}

#main .content .pricing-table.columns2 .column{
    width: 50%;
}

#main .content .pricing-table.columns3 .column{
    width: 33.33%;
}

#main .content .pricing-table.columns4 .column{
    width: 25%;
}

#main .content .pricing-table.columns5 .column{
    width: 20%;
}

#main .content .pricing-table.columns6 .column{
    width: 16.665%;
}

#main .content .pricing-table.columns7 .column{
    width: 14.28%;
}

#main .content .pricing-table.columns8 .column{
    width: 12.5%;
}

#main .content .pricing-table.columns9 .column{
    width: 11.11%;
}

#main .content .pricing-table.columns10 .column{
    width: 10%;
}

#main .content .pricing-table .column ul{
    border: 1px solid #e2e2e2;
    border-right: none;
}

#main .content .pricing-table .column:nth-last-child(2) ul{
    border: 1px solid #e2e2e2;
}

#main .content .pricing-table .column ul li{
    border-bottom: 1px solid #e2e2e2;
    color: #7f7f7f;
    padding: 12px 0 11px 0;
    text-align: center;
}

#main .content .pricing-table .column ul li:last-child{
    border: none;
    padding: 11px 15px;
}

#main .content .pricing-table .column ul li.head-row{
    color: #212121;
    font: normal 21px/24px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}

#main .content .pricing-table .column ul li.head-row.no-border{
    border-bottom: none;
}

#main .content .pricing-table .column ul li.pricing-row{
    background: #212121;
}

#main .content .pricing-table .column ul li.pricing-row.no-background{
    background: none;
}

#main .content .pricing-table .column ul li.pricing-row .price{
    color: #ffffff;
    font-size: 36px;
    line-height: 48px;
    margin: 0 10px 0 0;
}

#main .content .pricing-table .column ul li.pricing-row .price .time{
    font-size: 16px;
    line-height: 24px;
    top: -5px
}

#main .content .pricing-table .column ul li.footer-row a{
    margin: auto;
}

#main .content .pricing-table .column ul li.footer-row a.hidden{
    cursor: default;
    opacity: 0;
}

/******************************************************* End Pricing Tables */

/******************************************************* Begin Other Elements */

/* Name */

.name{
    font-family: 'Nothing You Could Do', cursive !important;
    padding-top: 0 !important;
}

/* Info Icons */

#main .content .info-icon{
    background: #000000;
    -webkit-border-radius: 72px;
    border-radius: 72px;
    color: #e2e2e2;
    display: block;
    font: 36px/72px 'Icons';
    height: 72px;
    margin: 0 auto 24px auto;
    overflow: hidden;
    text-align: center;
    width: 72px;
    -webkit-transition: background 300ms linear;
    -moz-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    -o-transition: background 300ms linear;
    transition: background 300ms linear;
}

#main .content .info-icon .glyph{
    color: #e2e2e2;
    display: block;
    font: 36px/72px 'Icons';
    height: 72px;
    margin: 0;
    -webkit-transition: margin 300ms linear;
    -moz-transition: margin 300ms linear;
    -ms-transition: margin 300ms linear;
    -o-transition: margin 300ms linear;
    transition: margin 300ms linear;
}

#main .content .info-icon .glyph-hover{
    color: #ffffff;
    display: block;
    font: 36px/72px 'Icons';
    height: 72px;
    margin: 0;
}

#main .content .has-info-icon:hover .info-icon{
    background: #af3425;
    -webkit-transition: background 300ms linear;
    -moz-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    -o-transition: background 300ms linear;
    transition: background 300ms linear;
}

#main .content .has-info-icon:hover .info-icon .glyph{
    margin: -72px 0 0 0;
    -webkit-transition: margin 300ms linear;
    -moz-transition: margin 300ms linear;
    -ms-transition: margin 300ms linear;
    -o-transition: margin 300ms linear;
    transition: margin 300ms linear;
}

/* Skills */

.skill{
    background: #212121;
    display: block;
    height: 24px;
    margin: 0 0 12px 0;
}

.skill:last-child{
    margin: 0 0 24px 0;
}

.skill .progress{
    background: #af3425;
    height: 24px;
    margin: 0 0 12px 0;
    position: absolute;
}

.skill .label{
    color: #e2e2e2;
    display: block;
    margin: 0 15px;
    position: absolute;
}

/* FAQ */

.faq-menu{
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    height: 46px;
    margin: 0 0 24px 0;
}

.faq-menu li{
    float: left;
}

.faq-menu li a{
    border: none !important;
    display: block;
    line-height: 46px;
    padding: 0 15px;
}

.faq-menu li a.selected{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGklEQVQIW2Pk4eH5LyIiwsCooKDw/82bNwwAIxYFhcQBv7EAAAAASUVORK5CYII=');
}

/* 404 Page */

.page-404-number{
    color: #212121;
    float: left;
    font: 48px/48px 'Nothing You Could Do', cursive;
    margin: 0 20px 24px 0;
}

/* Coming Soon Page */

.hasCountdown .countdown_section{
    background: #000000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #e2e2e2;
    display: block;
    float: left;
    font: 14px/24px 'Nothing You Could Do', cursive;
    height: 70px;
    margin: 0 20px 24px 0;
    text-align: center;
    width: 70px;
}

.hasCountdown .countdown_section:last-child{
    margin: 0 0 24px 0;
}

.hasCountdown .countdown_section .countdown_amount{
    color: #e2e2e2;
    display: block;
    float: left;
    font: 24px/24px 'Nothing You Could Do', cursive;
    margin: 14px 0 0 0;
    text-align: center;
    width: 70px;
}

.hasCountdown .countdown_section br{
    clear: both;
}

/********************************************************* End Other Elements */

#main .content .grid-row .container h1:first-child,
#main .content .grid-row .container h2:first-child,
#main .content .grid-row .container h3:first-child,
#main .content .grid-row .container h4:first-child,
#main .content .grid-row .container h5:first-child,
#main .content .grid-row .container h6:first-child,
#main .content .grid-row [class*="grid"] .single-list,
#main .content .grid-row [class*="grid"] .accordion,
#main .content .grid-row [class*="grid"] blockquote,
#main .content .grid-row [class*="grid"] form,
#main .content .grid-row [class*="grid"] h1:first-child,
#main .content .grid-row [class*="grid"] h2:first-child,
#main .content .grid-row [class*="grid"] h3:first-child,
#main .content .grid-row [class*="grid"] h4:first-child,
#main .content .grid-row [class*="grid"] h5:first-child,
#main .content .grid-row [class*="grid"] h6:first-child,
#main .content .grid-row [class*="grid"] p,
#main .content .grid-row [class*="grid"] hr,
#main .content .grid-row [class*="grid"] .tabs,
#main .content .grid-row [class*="grid"] .toggle-wrapper,
#main .content .grid-row [class*="grid"] .page-404-number,
#main .content .grid-row [class*="grid"] .pricing-table{
    padding-top: 0px;
}

#main .content .grid-row [class*="grid"].style2 .container,
#main .content .grid-row [class*="grid"].style3 .container,
#main .content .container .single-list,
#main .content .grid-row [class*="grid"].style2 .single-list,
#main .content .grid-row [class*="grid"].style3 .single-list,
#main .content .container .accordion,
#main .content .grid-row [class*="grid"].style2 .accordion,
#main .content .grid-row [class*="grid"].style3 .accordion,
#main .content .container blockquote,
#main .content .grid-row [class*="grid"].style2 blockquote,
#main .content .grid-row [class*="grid"].style3 blockquote,
#main .content .container form,
#main .content .grid-row [class*="grid"].style2 form,
#main .content .grid-row [class*="grid"].style3 form,
#main .content .container h1,
#main .content .grid-row [class*="grid"].style2 h1,
#main .content .grid-row [class*="grid"].style3 h1,
#main .content .container h2,
#main .content .grid-row [class*="grid"].style2 h2,
#main .content .grid-row [class*="grid"].style3 h2,
#main .content .container h3,
#main .content .grid-row [class*="grid"].style2 h3,
#main .content .grid-row [class*="grid"].style3 h3,
#main .content .container h4,
#main .content .grid-row [class*="grid"].style2 h4,
#main .content .grid-row [class*="grid"].style3 h4,
#main .content .container h5,
#main .content .grid-row [class*="grid"].style2 h5,
#main .content .grid-row [class*="grid"].style3 h5,
#main .content .container h6,
#main .content .grid-row [class*="grid"].style2 h6,
#main .content .grid-row [class*="grid"].style3 h6,
#main .content .container p,
#main .content .grid-row [class*="grid"].style2 p,
#main .content .grid-row [class*="grid"].style3 p,
#main .content .container hr,
#main .content .grid-row [class*="grid"].style2 hr,
#main .content .grid-row [class*="grid"].style3 hr,
#main .content .container .tabs,
#main .content .grid-row [class*="grid"].style2 .tabs,
#main .content .grid-row [class*="grid"].style3 .tabs,
#main .content .container .toggle-wrapper,
#main .content .grid-row [class*="grid"].style2 .toggle-wrapper,
#main .content .grid-row [class*="grid"].style3 .toggle-wrapper,
#main .content .container .page-404-number,
#main .content .grid-row [class*="grid"].style2 .page-404-number,
#main .content .grid-row [class*="grid"].style3 .page-404-number,
#main .content .container .pricing-table,
#main .content .grid-row [class*="grid"].style2 .pricing-table,
#main .content .grid-row [class*="grid"].style3 .pricing-table{
    margin-left: 15px;
    margin-right: 15px;
}

#main .content .grid-row [class*="grid"] table{
    margin: 0 15px 24px 15px;
    padding-top: 0px;
}

#main .content .grid-row [class*="grid"].style2 table:last-child{
    margin: 0 15px 23px 15px;
}

#main .content .grid-row [class*="grid"].style2 blockquote,
#main .content .grid-row [class*="grid"].style2 input[type=button],
#main .content .grid-row [class*="grid"].style2 input[type=reset],
#main .content .grid-row [class*="grid"].style2 input[type=submit],
#main .content .grid-row [class*="grid"].style2 p:last-child,
#main .content .grid-row [class*="grid"].style2 .page-404-number:last-child,
#main .content .grid-row [class*="grid"].style2 .pricing-table:last-child{
    margin-bottom: 23px;
}

#main .content .grid-row [class*="grid"].style2 p.social:last-child,
#main .content .grid-row [class*="grid"].style2 .pagination:last-child{
    margin-bottom: 11px;
}

#main .content .container table,
#main .content .grid-row [class*="grid"].style2 table,
#main .content .grid-row [class*="grid"].style3 table{
    margin: 0 15px 24px 15px;
    padding-top: 0px;
}

#main .content .container table:last-child,
#main .content .grid-row [class*="grid"].style2 table:last-child{
    margin: 0 15px 23px 15px;
}

#main .content .container.style2 table:last-child,
#main .content .grid-row [class*="grid"].style3 table:last-child{
    margin: 0 15px 23px 15px;
}

#main .content .container blockquote,
#main .content .container input[type=button],
#main .content .container input[type=reset],
#main .content .container input[type=submit],
#main .content .container p:last-child,
#main .content .container .page-404-number:last-child,
#main .content .container .pricing-table:last-child{
    margin-bottom: 23px;
}

#main .content .container p.social:last-child,
#main .content .container .pagination:last-child{
    margin-bottom: 11px;
}

#main .content .container.style2 .single-list:last-child,
#main .content .container.style2 blockquote,
#main .content .container.style2 input[type=button],
#main .content .container.style2 input[type=reset],
#main .content .container.style2 input[type=submit],
#main .content .container.style2 p:last-child,
#main .content .container.style2 .page-404-number:last-child,
#main .content .container.style2 .pricing-table:last-child{
    margin-bottom: 23px;
}

#main .content .container.style2 p.social:last-child,
#main .content .container.style2 .pagination:last-child{
    margin-bottom: 11px;
}

#main .content .grid-row [class*="grid"] .container:last-child{
    margin-bottom: 0;
}

#main .content #map{
    height: 360px;
}

/* ----- Begin Navigation Responsive ----- */

@media screen and (min-width: 1001px){
    #main{
        width: 998px;
    }

    #wrapper.left #main{
        float: right;
    }

    #wrapper.right #main{
        float: left;
    }
    
    #main .content{
        padding: 72px 29px 48px 29px;
    }
    
    #main .content .grid-row .grid2,
    #main .content .grid-row .grid2.style3{
        width: 140px;
    }
    
    #main .content .grid-row .grid3,
    #main .content .grid-row .grid3.style3{
        width: 220px;
    }
    
    #main .content .grid-row .grid4,
    #main .content .grid-row .grid4.style3{
        width: 300px;
    }
    
    #main .content .grid-row .grid5,
    #main .content .grid-row .grid5.style3{
        width: 380px;
    }
    
    #main .content .grid-row .grid6,
    #main .content .grid-row .grid6.style3{
        width: 460px;
    }
    
    #main .content .grid-row .grid7,
    #main .content .grid-row .grid7.style3{
        width: 540px;
    }
    
    #main .content .grid-row .grid8,
    #main .content .grid-row .grid8.style3{
        width: 620px;
    }
    
    #main .content .grid-row .grid9,
    #main .content .grid-row .grid9.style3{
        width: 700px;
    }
    
    #main .content .grid-row .grid10,
    #main .content .grid-row .grid10.style3{
        width: 780px;
    }
    
    #main .content .grid-row .grid2.style2{
        width: 138px;
    }
    
    #main .content .grid-row .grid3.style2{
        width: 218px;
    }
    
    #main .content .grid-row .grid4.style2{
        width: 298px;
    }
    
    #main .content .grid-row .grid5.style2{
        width: 378px;
    }
    
    #main .content .grid-row .grid6.style2{
        width: 458px;
    }
    
    #main .content .grid-row .grid7.style2{
        width: 538px;
    }
    
    #main .content .grid-row .grid8.style2{
        width: 618px;
    }
    
    #main .content .grid-row .grid9.style2{
        width: 698px;
    }
    
    #main .content .grid-row .grid10.style2{
        width: 778px;
    }
    
    #main .content .pricing-table .column{
        float: left;
    }

    #main .content .pricing-table.columns6 .column ul li.footer-row a,
    #main .content .pricing-table.columns7 .column ul li.footer-row a,
    #main .content .pricing-table.columns8 .column ul li.footer-row a,
    #main .content .pricing-table.columns9 .column ul li.footer-row a,
    #main .content .pricing-table.columns10 .column ul li.footer-row a{
        width: 70%;
    }

    .hasCountdown{
        height: 72px;
        margin: auto;
        width: 624px;
    }
    
    #main .content .grid-row .grid2.style2 table,
    #main .content .grid-row .grid2.style3 table,
    #main .content .grid-row .grid3.style2 table,
    #main .content .grid-row .grid3.style3 table,
    #main .content .grid-row .grid4.style2 table,
    #main .content .grid-row .grid4.style3 table{
        width: 90%;
    }
    
    #main .content .grid-row .grid5.style2 table,
    #main .content .grid-row .grid5.style3 table,
    #main .content .grid-row .grid6.style2 table,
    #main .content .grid-row .grid6.style3 table,
    #main .content .grid-row .grid7.style2 table,
    #main .content .grid-row .grid7.style3 table{
        width: 93%;
    }

    #main .content .grid-row .grid8.style2 table,
    #main .content .grid-row .grid8.style3 table,
    #main .content .grid-row .grid9.style2 table,
    #main .content .grid-row .grid9.style3 table,
    #main .content .grid-row .grid10.style2 table,
    #main .content .grid-row .grid10.style3 table{
        width: 95%;
    }

    #main .content .container table{
        width: 97%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1339px){
    #main{
        margin: 0 auto;
    }

    #wrapper.left #main{
        float: none;
    }

    #wrapper.right #main{
        float: none;
    }
    
    #main .content{
        padding: 24px 29px 48px 29px;
    }
}

@media screen and (min-width: 764px) and (max-width: 1000px){
    #main{
        margin: auto 0 auto;
        width: 758px;
    }
    
    #main .content{
        padding: 24px 29px 48px 29px;
    }
    
    #main .content .grid-row .grid2,
    #main .content .grid-row .grid2.style3{
        width: 100px;
    }
    
    #main .content .grid-row .grid3,
    #main .content .grid-row .grid3.style3{
        width: 160px;
    }
    
    #main .content .grid-row .grid4,
    #main .content .grid-row .grid4.style3{
        width: 220px;
    }
    
    #main .content .grid-row .grid5,
    #main .content .grid-row .grid5.style3{
        width: 280px;
    }
    
    #main .content .grid-row .grid6,
    #main .content .grid-row .grid6.style3{
        width: 340px;
    }
    
    #main .content .grid-row .grid7,
    #main .content .grid-row .grid7.style3{
        width: 400px;
    }
    
    #main .content .grid-row .grid8,
    #main .content .grid-row .grid8.style3{
        width: 460px;
    }
    
    #main .content .grid-row .grid9,
    #main .content .grid-row .grid9.style3{
        width: 520px;
    }
    
    #main .content .grid-row .grid10,
    #main .content .grid-row .grid10.style3{
        width: 580px;
    }
    
    #main .content .grid-row .grid2.style2{
        width: 98px;
    }
    
    #main .content .grid-row .grid3.style2{
        width: 158px;
    }
    
    #main .content .grid-row .grid4.style2{
        width: 218px;
    }
    
    #main .content .grid-row .grid5.style2{
        width: 278px;
    }
    
    #main .content .grid-row .grid6.style2{
        width: 338px;
    }
    
    #main .content .grid-row .grid7.style2{
        width: 398px;
    }
    
    #main .content .grid-row .grid8.style2{
        width: 458px;
    }
    
    #main .content .grid-row .grid9.style2{
        width: 518px;
    }
    
    #main .content .grid-row .grid10.style2{
        width: 578px;
    }
 
    #main .content .pricing-table .column{
        float: left;
    }

    #main .content .pricing-table.columns6 .column ul li.footer-row a,
    #main .content .pricing-table.columns7 .column ul li.footer-row a,
    #main .content .pricing-table.columns8 .column ul li.footer-row a,
    #main .content .pricing-table.columns9 .column ul li.footer-row a,
    #main .content .pricing-table.columns10 .column ul li.footer-row a{
        width: 70%;
    }
    
    .hasCountdown{
        height: 72px;
        margin: auto;
        width: 624px;
    }
    
    #main .content .grid-row .grid2.style2 table,
    #main .content .grid-row .grid2.style3 table,
    #main .content .grid-row .grid3.style2 table,
    #main .content .grid-row .grid3.style3 table,
    #main .content .grid-row .grid4.style2 table,
    #main .content .grid-row .grid4.style3 table{
        width: 86%;
    }
    
    #main .content .grid-row .grid5.style2 table,
    #main .content .grid-row .grid5.style3 table,
    #main .content .grid-row .grid6.style2 table,
    #main .content .grid-row .grid6.style3 table,
    #main .content .grid-row .grid7.style2 table,
    #main .content .grid-row .grid7.style3 table{
        width: 91%;
    }

    #main .content .grid-row .grid8.style2 table,
    #main .content .grid-row .grid8.style3 table,
    #main .content .grid-row .grid9.style2 table,
    #main .content .grid-row .grid9.style3 table,
    #main .content .grid-row .grid10.style2 table,
    #main .content .grid-row .grid10.style3 table{
        width: 93%;
    }

    #main .content .container table{
        width: 96%;
    }
}

@media screen and (max-width: 763px){
    #main{
        margin: 0 auto;
    }
    
    #main .content{
        padding: 24px 14px 0 14px;
    }
    
    #main .content .content-image.left,
    #main .content .content-image.right{
        width: 100%;
    }
 
    #main .content .grid-row [class*="grid"]{
        float: none;
        margin: 0 0 24px 0;
    }
    
    #main .content .grid-row [class*="grid"].style3{
        float: none;
        margin: 0 0 23px 0;
        padding-bottom: 1px;
    }
    
    #main .content .pricing-table .column{
        float: left;
    }
    
    #main .content .pricing-table.columns2 .column,
    #main .content .pricing-table.columns3 .column,
    #main .content .pricing-table.columns4 .column,
    #main .content .pricing-table.columns5 .column,
    #main .content .pricing-table.columns6 .column,
    #main .content .pricing-table.columns7 .column,
    #main .content .pricing-table.columns8 .column,
    #main .content .pricing-table.columns9 .column,
    #main .content .pricing-table.columns10 .column{
        margin: 0 0 24px 0;
        width: 100%;
    }
    
    #main .content .pricing-table .column ul{
        border: 1px solid #e2e2e2;
    }
 
    .hasCountdown{
        margin: 0 15px;
    }
    
    #main .content .grid-row [class*="grid"] table{
        width: 92%;
    }
}

/* ----- End Navigation Responsive ----- */

/******************************************************************************* End Content */